[alias]
  st = "!git status -s; echo -ne \"\\033[0;41;37m\"; git ls-unchanged; echo -ne \"\\033[0m\""
	co = checkout
  nb = !git checkout -b $1 && git push -u origin
	ci = commit -v
	br = branch
	d = diff
	dt = difftool --dir-diff
	tree = log --oneline --graph --decorate --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative
  f = fetch --prune
	g = grep --break --heading --line-number
  up = pull --rebase --prune
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	alias = !git config --get-regexp ^alias\\. | sort
  unchanged = update-index --assume-unchanged
  changed = update-index --no-assume-unchanged
  ls-unchanged = !git ls-files -v | grep '^[hsmrck]'
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  uncommit = reset --soft HEAD^
  unstage = reset
