{{- if eq .email "scotts@iqmetrix.com" }}alias ams="cd $C_ROOT/src/AssetMediaService"
alias api="cd $C_ROOT/src/Azure.APIManagement"
alias bsn="cd $C_ROOT/src/BuildScripts.Net"
alias ca="cd $C_ROOT/src/Catalogs"
alias cn="cd $C_ROOT/src/CatalogNexus"
alias de="cd $WIN_HOME/Desktop"
alias dow="cd $WIN_HOME/Downloads"
alias dr="cd $WIN_HOME/Dropbox"
alias es="cd $C_ROOT/src/EntityStore"
alias exp="cd $C_ROOT/src/experiment"
alias fl="cd $C_ROOT/src/Foundation.Logging"
alias fm="cd $C_ROOT/src/Foundation.Messaging"
alias fo="cd $C_ROOT/src/Foundation"
alias fw="cd $C_ROOT/src/Foundation.WebApi"
alias im="cd $C_ROOT/src/IQ.Messaging"
alias mg="cd $C_ROOT/src/Monitoring.Graphite"
alias pe="cd $C_ROOT/src/product-excellence"
alias pl="cd $C_ROOT/src/ProductLibrary"
alias prj="cd $C_ROOT/prj"
alias sbm="cd $C_ROOT/src/ServiceBusMonitor"
alias src="cd $C_ROOT/src"
alias sub="cd $C_ROOT/src/ProductSubscriptions"
{{- end }}
